<div class="object-sheet" data-application-part="main">

    <header class="object-header">
        <h2>
            <input type="text" name="name" value="{{item.name}}" />
        </h2>
    </header>

    <section class="object-body">
        <div>
            <label>Protection</label>
            <input type="number" name="system.protection" value="{{system.protection}}"/>
        </div>

        <div>
            <label>Bulk</label>
            <input type="number" name="system.bulk" value="{{system.bulk}}"/>
        </div>

        <div>
            <label>Traits</label>
            <textarea name="system.traits">{{system.traits}}</textarea>
        </div>

        <div>
            <label>Cost</label>
            <input type="number" name="system.cost" value="{{system.cost}}"/>
        </div>

        <div>
            <label>Weight</label>
            <input type="number" name="system.weight" value="{{system.weight}}"/>
        </div>

        <select name="system.size">
            <option value="">Select a size</option>
            {{#each objectSizeLabels as |label value|}}
                <option value="{{value}}"
                    {{#if (eq ../system.size (toNumber value))}}selected{{/if}}>
                    {{label}}
                </option>
            {{/each}}
        </select>
    </section>

</div>