<div data-application-part="main" class="container-sheet">

    <header class="container-header">
        <input type="text" name="name" value="{{item.name}}" />
        <span class="maximalSize">Maximal size allowed</span>
        <select name="system.maxSize">
            <option value="">Select a size</option>
            {{#each objectSizeLabels as |label value|}}
                <option value="{{value}}"
                    {{#if (eq ../system.maxSize (toNumber value))}}selected{{/if}}>
                    {{label}}
                </option>
            {{/each}}
        </select>
        <span>Cost</span>        
        <input type="text" name="system.cost" value="{{system.cost}}"/>
    </header>

    <section class="container-body">
        {{#if (not system.isUsed)}}
        <span class="weightAllowed">Weight allowed:</span>
            <input type = "number" name = "system.weightAllowed" value="{{system.weightAllowed}}"/>
        {{/if}}
        {{#if system.isUsed}}
        <p>Weigth allowed: {{system.weightAllowed}}</p>
            <p>Weight remaining: {{system.weightRemaining}}</p>
            <p>Weight used: {{system.weight}}</p>

            <h4>Containment</h4>

            {{#each containedItems}}
                <div class="contained-item">
                     <span data-action="printItem" data-item-id="{{this.id}}">{{this.name}}</span>
                    <div>Weight: {{this.system.weight}}</div>
                    <div>Size: {{lookup ../objectSizeLabels this.system.size}}</div>
                    <input type="number"
                           name="system.quantity"
                           value="{{this.system.quantity}}"
                           data-item-id="{{this.id}}">
                    <button type="button" data-action="deleteItem" data-item-id="{{this.id}}">Remove</button>
                    <button type="button" data-action="transferItem" data-item-id="{{this.id}}">Transfer</button>
                </div>
            {{/each}}
        {{/if}}
    </section>

</div>