<div class="derangement-sheet">
    <header class="object-header">
        <h2>
            <input type="text" name="name" value="{{item.name}}" />
        </h2>
    </header>
    <section class="object-body">
        <div>
            <label>Effect</label>
            <textarea name="system.effect">{{system.effect}}</textarea>
        </div>
        <div>
            <select name="system.gravity">
                <option value="">Select a gravity</option>
                <option value="Lesser" {{#if (eq system.gravity "Lesser")}}selected{{/if}}>
                    Lesser
                </option>
                <option value="Middling" {{#if (eq system.gravity "Middling")}}selected{{/if}}>
                    Middling
                </option>
                <option value="Greater" {{#if (eq system.gravity "Greater")}}selected{{/if}}>
                    Greater
                </option>
            </select>
        </div>
        <div>
            <input type = number name="system.recoverySteps" value="{{system.recoverySteps}}"/>
        </div>
    </section>
</div>