<form class="FightingSchool-sheet">
    <h2>
        <input type="text" name="name" value="{{item.name}}" />
    </h2>
    <button type="button" data-action="addSkills">Add skill</button>
    {{#each system.skillsAllowed as |allowed index|}}
        <li class="item">
            {{this}}
        </li>
        <select data-event="change"  data-action="changeSkillAllowed" data-skill="{{allowed}}" data-item-index = "{{index}}">
            <option value="">Select skill</option>
            {{#each ../system.skills}}
                <option value ="{{this}}" {{#if (eq allowed this)}}selected{{/if}}>
                    {{this}}
                </option>
            {{/each}}
        </select>
        <button type="button" data-action="removeSkill" data-skill-name="{{this}}">Remove Skill</button>
    {{/each}}
</form>