<div class="tab fightingTab {{tab.cssClass}}" data-tab="fightingTab" data-group="sheet">
    <div class ="fighting-defense">
        <div class ="shield">

        </div>
        <div class ="encombrement">
            
        </div>
        <div class ="armor">

        </div>

    </div>
</div>