        <ol class="item-list">
        {{#each objects}}   
        <li class="item" data-item-id="{{this.id}}">
        <span class="itemName">{{this.name}}</span>
        <span class="item-weight">{{this.system.weight}} kg</span>
        </li>
        {{/each}}
    </ol>
