<form class="object-sheet">
    <h2>
        <input type="text" name="name" value="{{item.name}}" />
    </h2>
    <div>
        <label>Description</label>
        <textarea name="system.description">{{system.description}}</textarea>
    </div>
    <div>
        <label>Weight</label>
        <input type="number" name="system.weight" value="{{system.weight}}"/>
    </div>
    <select name="system.size">
        <option value="">Select a size</option>
        {{#each objectSizeLabels as |label value|}}
            <option value="{{label}}" {{#if (eq ../system.size value)}}selected{{/if}}>{{label}}</option>
        {{/each}}
    </select>
</form>