<form class="actor-sheet" autocomplete="off">
    <header class="sheet-header">
        <div class="portrait">
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
        </div>
        <div class="char-info">
            <input type="text" name = "system.playerName" value="{{system.playerName}}"/>Player name
            <input type="text" name = "name" value = "{{actor.name}}"/>Character name
            <input type="text" name= "system.characterGender" value = "{{system.characterGender}}"/>Gender
            <input type="number" name="system.age" value="{{system.age}}"/>Age
            <input type="text" name="system.culture" value ="{{system.culture}}"/>Culture
            <input type="text" name="system.subCulture" value="{{system.subCulture}}"/>Subculture
        </div>
        <div class="traits">
            <ol class="trait-list">
                {{#each traits}}   
                <li class="trait" data-item-id="{{this.id}}">
                <span class="trait-name">{{this.name}}</span>
                </li>
                {{/each}}
            </ol>
        </div>
    </header>
    <section class ="sheet-stats">
        {{#each system.stats as |stat key|}}
        <div class = stat-block>
            <button type="button" class = "stat-roll" data-stat="{{key}}">{{stat.Label}}</button>
            <div class="stat-values">
                <input type="number" name="system.stats.{{key}}.MaxValue" value = "{{stat.MaxValue}}"/>
                <span>/</span>
            {{#if (or (eq key "Constitution") (eq key "Vigor"))}}
            <input type="number" name="system.stats.{{key}}.CurrentValue" value="{{stat.CurrentValue}}" />
            {{else}}
            <span class="CurrentValues">{{stat.CurrentValue}}</span>
            {{/if}}
            </div>
        </div>        
        {{/each}}
    </section>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="Skills">Skills</a>
        <a class="item" data-tab="Fighting">Fighting</a>
        <a class="item" data-tab="Inventory">Inventory</a>
    </nav>
 
    <section class="sheet-body">
        <div class="tab" data-group="primary" data-tab="Skills">
            <div class="skills-social">
                {{#each skills.social}}
                    <li class="skill">{{@key}}</li>
                {{/each}}
            </div>
        </div>
        <div class="tab" data-group="primary" data-tab="Fighting"></div>
        <div class="tab" data-group ="primary" data-tab="Inventory">
                <ol class="item-list">
                {{#each objects}}   
                <li class="item" data-item-id="{{this.id}}">
                <span class="item-name">{{this.name}}</span>
                <span class="item-weight">{{this.system.weight}} kg</span>
                </li>
                {{/each}}
            </ol>
        </div>
    </section>
</form>
