<div class="object-sheet" data-application-part="main">

    <header class="object-header">
        <h2>
            <input type="text" name="name" value="{{item.name}}" />
        </h2>
    </header>
    <section class="object-body">
        <div>
            <label>Success degree necessary</label>
            <input type="number" name="system.successNecessary" value="{{system.successNecessary}}" />
        </div>
        <div>
            <label>Time necessary</label>
            <input type="number" name="system.time" value="{{system.time}}" />
        </div>
        <label>Ingredients</label>
        {{#each system.ingredients as |ingredient index|}}
        <span>{{ingredient.name}}</span>
        <input type="number" name="system.ingredients.{{index}}.quantity value={{ingredient.quantity}}">
        <button type="button" data-action="removeIngredients" data-item-index="{{index}}">Remove ingredient</button>
        {{/each}}
    </section>
</div>