<div class="object-sheet" data-application-part="main">

    <header class="object-header">
        <h2>
            <input type="text" name="name" value="{{item.name}}" />
        </h2>
    </header>

    <section class="object-body">
        <div>
            <label>Prerequisite</label>
            <input type="text" name="system.prerequisite" value="{{system.prerequisite}}"/>
        </div>
        <div>
            <label>School</label>
            <input type="text" name="system.school" value="{{system.school}}"/>
        </div>
        <div>
            <label>Reach</label>
            <input type="text" name="system.school" value="{{system.school}}"/>
        </div>
        <div>
            <label>Cost</label>
            <input type="number" name="system.vigorCost" value="{{system.vigorCost}}"/>
        </div>
        <select name="system.spellType">
            <option value="">Select a magic type</option>
            {{#each spellTypes as |type|}}
                <option value="{{type}}" {{#if (eq ../system.spellType type)}}selected{{/if}}>{{type}}</option>
            {{/each}}
        </select>

        <div>
            <label>Description</label>
            <textarea name="system.description">{{system.description}}</textarea>
        </div>
    </section>
</div>