<div class="object-sheet" data-application-part="main">

    <header class="object-header">
        <h2>
            <input type="text" name="name" value="{{item.name}}" />
        </h2>
    </header>

    {{#each system.existingTypeOfSpells as |spellType index|}}
        <input type="text" name="system.existingTypeOfSpells.{{index}}" value="{{spellType}}"/>
        <button type="button" data-action="removeTypeofSpell" data-item-index ={{index}}>Remove</button>
    {{/each}}
    <button type="button" data-action="addTypeofSpell">Add type of spell</button>
</div>
