<form class="subculture-sheet">
    <h2>
        <input type="text" name="name" value="{{item.name}}" />
    </h2>
    <div>
        <label>System</label>
        <textarea name="system.description">{{system.system}}</textarea>
    </div>
    <select name="system.parentCulture" id="parentCulture">
        <option value="">-- Sélectionne une culture --</option>
        {{#each cultures}}
            <option value="{{this.name}}" {{#if (eq ../system.parentCulture this.name)}}selected{{/if}}>
            {{this.name}}
            </option>
        {{/each}}
    </select>
    <div>
        <label>Effects</label>
        <button type="button" class="add-effect">Add effect</button>
        {{#each item.effects}}
        <li>
            <span>{{this.name}}</span>
            <button type="button" class="edit-effect" data-effect-id="{{this.id}}">Edit effect</button>
            <button type="button" class="remove-effect" data-effect-id="{{this.id}}">Remove effect</button>
        </li>
        {{/each}}
    </div>
</form>