<form class="subculture-sheet">
    <h2>
        <input type="text" name="name" value="{{item.name}}" />
    </h2>
    <div>
        <label>System</label>
        <textarea name="system.description">{{system.system}}</textarea>
    </div>
    <div>
        <select name="system.culture" id="parentCulture">
        <option value="">-- Sélectionne une culture --</option>
        {{#each cultures}}
            <option value="{{this.name}}" {{#if (eq ../system.culture this.name)}}selected{{/if}}>
            {{this.name}}
            </option>
        {{/each}}
        </select>
</form>