<form class="trait-sheet">
    <h2>
        <input type="text" value="{{item.name}}" data-action="rename">
    </h2>
    <div>
        <label>System</label>
        <textarea name="system.system">{{system.system}}</textarea>
    </div>
    <div>
        <label>Type</label>
         <textarea name="system.type"></textarea>
    </div>
    <div>
        <label>Effects</label>
        <button type="button" class="add-effect">Add effect</button>

        <ul class="effects-list">
            {{#each item.effects.contents}}
            <li>
                <span>{{this.name}}</span>
                <button type="button"
                        class="edit-effect"
                        data-effect-id="{{this.id}}">
                    Edit effect
                </button>
                <button type="button"
                        class="remove-effect"
                        data-effect-id="{{this.id}}">
                    Remove effect
                </button>
            </li>
            {{/each}}
        </ul>
    </div>
</form>