.testsystem.actor.sheet{
background: #1e1e1e;
border-radius: 8px;
padding: 10x;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

.testsystem.actor.sheet .sheet-body {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;
    min-height: 0;
}


.sheet-body .tab {
    display: none;
}

.testsystem.actor.sheet .sheet-body .tab.active {
    display: block;
    height: 100%;
    overflow-y: auto;
    padding-right: 5px;
    box-sizing: border-box;
}
.testsystem.actor.sheet .sheet-header{
display: grid;
grid-template-columns: 150px 1fr 1fr;
gap: 15px;
padding: 10px;
border-radius: 8px;
}

.testsystem.actor.sheet .portrait{
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 2px solid #666;
  border-radius: 8px;
  background: #2a2a2a;
}

.testsystem.actor.sheet .portrait img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer; 
}

.testsystem.actor.sheet .char-info {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 6px 12px;
  align-items: center;
}

.testsystem.actor.sheet .char-info input {
  width: 100%;
  background: #fff;
  color: #2b2b2b;
  border: 1px solid #555;
  border-radius: 4px;
  padding: 3px 6px;
  text-align: center;
}

.testsystem.actor.sheet .traits {
  display: grid;
  width: 100%;
  gap: 20px 0;
}

.testsystem.actor.sheet .sheet-stats{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto auto auto;
gap: 10px;
width: 100%;
}

.testsystem.actor.sheet .stat-block{
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
border: 1px solid #ffffff;
border-radius: 8px;
justify-content: space-between;
}

.testsystem.actor.sheet .stat-block label{
font-weight: bold;
color: #1e1e1e;
margin-right: 4px;
margin-left: 4px;
text-align: left;
}

.testsystem.actor.sheet .stat-values{
display:flex;
align-items: center;
gap: 4px;
}

.testsystem.actor.sheet .CurrentValues{
text-align: center;
width: 50px;
}

.testsystem.actor.sheet .sheet-stats input{
width: 50px;
}

.testsystem.actor.sheet .stat-roll {
  background: none;
  border: none;
  color: var(--color-text);
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.testsystem.actor.sheet .stat-roll:hover {
  color: var(--color-text-hyperlink);
}

.testsystem.actor.sheet .skillsTab{
  flex-direction: column;
  gap: 15px;
}

.testsystem.actor.sheet .skillsTab.active {
  display: flex;
}

.testsystem.actor.sheet .CategoryTitle{
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

.testsystem.actor.sheet .skills{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto auto;
margin-left: 4px;
list-style-type: none;
gap: 5px;
width: 100%;
}

.testsystem.actor.sheet .skill-block{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto auto auto;
gap: 10px;
width: 100%;
}

.testsystem.actor.sheet .skill-roll {
  background: none;
  border: none;
  color: var(--color-text);
  cursor: pointer;
}

.testsystem.actor.sheet .skill-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testsystem.actor.sheet .skill-input label {
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--color-text);
    margin-bottom: 2px;
}