.container-sheet {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: visible; 

}

.container-header {
    flex: 0 0 auto;
}

.container-body {
    flex: 1 1 auto;
    overflow-y: auto;
    min-height:0;
    padding-right: 5px;
}