.testsystem.sheet.item {
    font-family: "Arial", sans-serif;
    color: #000; 
    border-radius: 8px;
    padding: 10px;
}

.testsystem.sheet.item h2 {
    font-size: 1.2em;
    border-bottom: 1px solid #555;
    margin-bottom: 0.5em;
}

.testsystem.sheet.item input[type="text"],
.testsystem.sheet.item input[type="number"],
.testsystem.sheet.item textarea {
    width: 100%;
    padding: 4px 6px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #555;
    background-color: #eee;
    color: #000; 
}

.testsystem.sheet.item label {
    font-weight: bold;
    margin-top: 6px;
    display: block;
}

.testsystem.sheet.item ul,
.testsystem.sheet.item ol {
    padding-left: 20px;
    margin-bottom: 10px;
}

.testsystem.sheet.item button {
    background-color: #333;
    color: #eee;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 3px 6px;
    margin-left: 4px;
    cursor: pointer;
}

.testsystem.sheet.item button:hover {
    background-color: #444;
}

.object-sheet {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.object-header {
    flex: 0 0 auto;
}

.object-body {
    flex: 1 1 auto;
    overflow-y: auto;
    min-height:0;
    padding-right: 5px;
}